
.about-main {
    width: 100%;
    height: 89vh;
    background-image: url('../images/bc.jpg');
    display: flex;
    justify-content: center;
    /* background-color: linear-gradient(transparent,transparent,transparent); */
}   
.about-heading{
    width: 60%;
    text-align: center;
    color: dodgerblue;
    margin-top: 50px;
    font-size: 49px;
    height: 81vh;
    background-color:hsl(0deg 0% 0% / 22%);
    font-family: cursive;

}